[submodule "imklib-tutorial"]
	path = imklib-tutorial
	url = https://github.com/hanslovsky/imklib-tutorial.git
[submodule "knip-course"]
	path = knip-course
	url = https://github.com/knime-ip/knip-course.git
[submodule "transforms_tutorial"]
	path = transforms_tutorial
	url = https://github.com/bogovicj/transforms_tutorial.git
[submodule "viewing-images-tutorial"]
	path = viewing-images-tutorial
	url = https://github.com/bnorthan/viewing-images-tutorial
