[submodule "imklib-tutorial"]
	path = imklib-tutorial
	url = https://github.com/hanslovsky/imklib-tutorial.git
[submodule "knip-course"]
	path = knip-course
	url = https://github.com/knime-ip/knip-course.git
[submodule "transforms_tutorial"]
	path = transforms_tutorial
	url = https://github.com/bogovicj/transforms_tutorial.git
[submodule "viewing-images-tutorial"]
	path = viewing-images-tutorial
	url = https://github.com/bnorthan/viewing-images-tutorial
[submodule "daisLEARNATHON2019"]
	path = daisLEARNATHON2019
	url = git://github.com/haesleinhuepf/daisLEARNATHON2019
[submodule "bigdataviewer-workshop"]
	path = bigdataviewer-workshop
	url = git://github.com/bigdataviewer/bigdataviewer-workshop
[submodule "imglib2-introductory-workshop"]
	path = imglib2-introductory-workshop
	url = git://github.com/imglib/imglib2-introductory-workshop
[submodule "imagej-roi-course"]
	path = imagej-roi-course
	url = git://github.com/maarzt/imagej-roi-course
[submodule "imagej-scijava-course"]
	path = imagej-scijava-course
	url = git://github.com/maarzt/imagej-scijava-course
